In [1]:
import sqlalchemy

In [2]:
sqlalchemy.create_engine('sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha')

Engine(sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha)

In [3]:
%load_ext sql

In [4]:
%sql sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db

In [5]:
%%sql

SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[('leagues',),
 ('players',),
 ('users',),
 ('editions',),
 ('games',),
 ('players_in_edition',),
 ('players_in_game',)]

In [7]:
%%sql
SELECT * FROM editions;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, '1ª Edição MasterLeague', '21:30', '2021-07-15', 1, 1, 0),
 (2, '1ª Edição TuesdayLeague', '22:00', '2021-02-09', 2, 1, 0),
 (3, '2ª Edição TuesdayLeague', '22:00', '2021-07-13', 2, 1, 0),
 (4, '3ª Edição TuesdayLeague', '22:00', '2022-02-15', 2, 0, 8),
 (5, '2ª Edição MasterLeague', '21:30', '2022-06-09', 1, 0, 12)]

In [6]:
%%sql
SELECT * FROM players;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 'Pacheco', 'Pedro Inácio Meireles do Carmo Pacheco', '2021-10-13'),
 (2, 'Perneta', None, None),
 (3, 'Bernardo', 'Bernardo Lobo Xavier', '1995-12-04'),
 (4, 'Chico Castro', None, None),
 (5, 'Ferna', None, None),
 (6, 'João', 'João António Pizarro Magalhães', '1994-08-02'),
 (7, 'JP', None, None),
 (8, 'Kiko', None, None),
 (9, 'Fragoso', None, '1995-02-12'),
 (10, 'Manel', None, None),
 (11, 'Vinhas', None, None),
 (12, 'Zi', None, None),
 (13, 'Gustavo', None, None),
 (14, 'Beirão', None, None),
 (15, 'Praça', None, None),
 (16, 'Tommy', None, None),
 (17, 'Araújo', None, None),
 (18, 'Dinis', None, None),
 (19, 'Mateus', 'Mateus Meireles Andersen Portela', '1997-04-19'),
 (20, 'Eloi', None, None),
 (21, 'Nuno', None, None),
 (22, 'Pipinho', None, None),
 (23, 'Tomás Pacheco', None, None),
 (24, 'Resende', None, None),
 (25, 'Chico', None, None),
 (26, 'Jorginho', None, None),
 (27, 'António PT', None, None),
 (28, 'Diego', None, None),
 (29, 'Afonso', None, None),
 (30, 'Bernardo Castro', None, '1996-03-20'),
 (31, 'Zé SF', None, None),
 (32, 'Jervell', 'Sebastião Jervell', None)]

In [18]:
%%sql
UPDATE players_in_game SET player_id=25 WHERE player_id=4 AND game_id=30 AND team='Branquelas';

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [1]:
import datetime

In [5]:
date = datetime.datetime.strptime('12/02/2014', '%d/%m/%Y')
date

datetime.datetime(2014, 2, 12, 0, 0)

In [17]:
%%sql

SELECT * FROM players;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 'Pacheco', 'Pedro Inácio Meireles do Carmo Pacheco', '2021-10-13'),
 (2, 'Perneta', None, None),
 (3, 'Bernardo', 'Bernardo Lobo Xavier', '1995-12-04'),
 (4, 'Chico Castro', None, None),
 (5, 'Ferna', None, None),
 (6, 'João', 'João António Pizarro Magalhães', '1994-08-02'),
 (7, 'JP', None, None),
 (8, 'Kiko', None, None),
 (9, 'Fragoso', None, '1995-02-12'),
 (10, 'Manel', None, None),
 (11, 'Vinhas', None, None),
 (12, 'Zi', None, None),
 (13, 'Gustavo', None, None),
 (14, 'Beirão', None, None),
 (15, 'Praça', None, None),
 (16, 'Tommy', None, None),
 (17, 'Araújo', None, None),
 (18, 'Dinis', None, None),
 (19, 'Mateus', 'Mateus Meireles Andersen Portela', '1997-04-19'),
 (20, 'Eloi', None, None),
 (21, 'Nuno', None, None),
 (22, 'Pipinho', None, None),
 (23, 'Tomás Pacheco', None, None),
 (24, 'Resende', None, None),
 (25, 'Xico', None, None),
 (26, 'Jorginho', None, None),
 (27, 'António PT', None, None),
 (28, 'Diego', None, None),
 (29, 'Afonso', None, None),
 (30, 'Bernardo Castro', None, '1996-03-20'),
 (31, 'Zé SF', None, None),
 (32, 'Jervell', 'Sebastião Jervell', None)]

In [10]:
%%sql 
SELECT id FROM games WHERE edition_id=4

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(26,), (30,), (32,), (34,), (36,)]

In [6]:
%%sql 
SELECT * FROM games

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 18, 11, '2020-10-15', 1, 1, 1),
 (2, 5, 10, '2020-10-22', -1, 2, 1),
 (3, 6, 8, '2021-06-06', -1, 3, 1),
 (4, 9, 12, '2021-05-13', -1, 4, 1),
 (5, 10, 10, '2021-05-20', 0, 5, 1),
 (6, 9, 10, '2021-05-27', -1, 6, 1),
 (7, 4, 10, '2021-06-03', -1, 7, 1),
 (8, 6, 5, '2021-06-10', 1, 8, 1),
 (9, 10, 9, '2021-06-17', 1, 9, 1),
 (10, 13, 8, '2021-06-24', 1, 10, 1),
 (11, 10, 7, '2021-07-01', 1, 11, 1),
 (12, 8, 6, '2021-07-08', 1, 12, 1),
 (13, 14, 20, '2021-07-15', -1, 13, 1),
 (14, 10, 9, '2020-10-06', 1, 1, 2),
 (15, 11, 6, '2020-10-06', 1, 2, 2),
 (16, 7, 9, '2020-10-13', -1, 3, 2),
 (17, 6, 10, '2020-10-20', -1, 4, 2),
 (18, 19, 6, '2020-10-27', 1, 5, 2),
 (19, 6, 12, '2020-11-03', -1, 6, 2),
 (20, 17, 9, '2020-11-10', 1, 7, 2),
 (21, 6, 14, '2020-11-17', -1, 8, 2),
 (22, 13, 7, '2020-11-24', 1, 9, 2),
 (23, 7, 7, '2020-12-01', 0, 10, 2),
 (24, 13, 15, '2021-02-02', -1, 11, 2),
 (25, 13, 17, '2021-02-09', -1, 12, 2),
 (26, 5, 10, '2021-10-05', -1, 1, 4),
 (27, 9, 10, '2021-10-13', -1, 1, 5),
 (28, 10, 5, '2021-09-30', 1, 2, 5),
 (29, 12, 17, '2021-10-07', -1, 3, 5),
 (30, 5, 15, '2021-10-12', -1, 2, 4),
 (31, 9, 6, '2021-10-14', 1, 4, 5),
 (32, 11, 9, '2021-10-26', 1, 3, 4),
 (33, 11, 18, '2021-10-21', -1, 5, 5),
 (34, 7, 27, '2021-10-26', -1, 4, 4),
 (35, 19, 9, '2021-10-28', 1, 6, 5),
 (36, 11, 8, '2021-11-02', 1, 5, 4),
 (37, 13, 12, '2021-11-04', 1, 7, 5)]

In [12]:
%%sql

SELECT * FROM players_in_game

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 1, 'Branquelas', 6),
 (9, 1, 'Branquelas', 3),
 (7, 1, 'Branquelas', 2),
 (8, 1, 'Branquelas', 0),
 (4, 1, 'Maregões', 0),
 (3, 1, 'Maregões', 1),
 (10, 1, 'Maregões', 3),
 (12, 1, 'Maregões', 6),
 (1, 2, 'Branquelas', 1),
 (3, 2, 'Branquelas', 0),
 (6, 2, 'Branquelas', 1),
 (4, 2, 'Maregões', 0),
 (5, 2, 'Maregões', 1),
 (7, 2, 'Maregões', 2),
 (8, 2, 'Maregões', 0),
 (9, 2, 'Maregões', 3),
 (12, 2, 'Maregões', 4),
 (1, 3, 'Branquelas', 1),
 (12, 3, 'Branquelas', 1),
 (10, 3, 'Branquelas', 0),
 (3, 3, 'Branquelas', 0),
 (6, 3, 'Branquelas', 2),
 (7, 3, 'Branquelas', 1),
 (9, 3, 'Maregões', 1),
 (8, 3, 'Maregões', 2),
 (4, 3, 'Maregões', 0),
 (5, 3, 'Maregões', 1),
 (1, 4, 'Branquelas', 3),
 (4, 4, 'Branquelas', 0),
 (12, 4, 'Branquelas', 2),
 (9, 4, 'Branquelas', 2),
 (10, 4, 'Maregões', 2),
 (3, 4, 'Maregões', 1),
 (5, 4, 'Maregões', 5),
 (6, 4, 'Maregões', 1),
 (2, 1, 'Maregões', 0),
 (2, 2, 'Branquelas', 1),
 (2, 3, 'Maregões', 1),
 (2, 4, 'Maregões', 0),
 (8, 5, 'Branquelas', 4),
 (3, 5, 'Branquelas', 0),
 (6, 5, 'Branquelas', 0),
 (7, 5, 'Branquelas', 3),
 (4, 5, 'Branquelas', 1),
 (1, 5, 'Maregões', 2),
 (9, 5, 'Maregões', 1),
 (10, 5, 'Maregões', 1),
 (5, 5, 'Maregões', 3),
 (12, 5, 'Maregões', 3),
 (3, 6, 'Branquelas', 3),
 (6, 6, 'Branquelas', 0),
 (12, 6, 'Branquelas', 2),
 (1, 6, 'Branquelas', 1),
 (2, 6, 'Maregões', 3),
 (4, 6, 'Maregões', 0),
 (9, 6, 'Maregões', 1),
 (5, 6, 'Maregões', 2),
 (10, 6, 'Maregões', 2),
 (4, 7, 'Branquelas', 0),
 (6, 7, 'Branquelas', 0),
 (12, 7, 'Branquelas', 1),
 (9, 7, 'Branquelas', 1),
 (5, 7, 'Maregões', 2),
 (2, 7, 'Maregões', 3),
 (10, 7, 'Maregões', 0),
 (3, 7, 'Maregões', 2),
 (3, 8, 'Branquelas', 1),
 (6, 8, 'Branquelas', 0),
 (12, 8, 'Branquelas', 3),
 (5, 8, 'Branquelas', 0),
 (2, 8, 'Branquelas', 2),
 (1, 8, 'Maregões', 3),
 (10, 8, 'Maregões', 0),
 (4, 8, 'Maregões', 0),
 (9, 9, 'Branquelas', 2),
 (1, 9, 'Branquelas', 3),
 (7, 9, 'Branquelas', 1),
 (6, 9, 'Branquelas', 0),
 (4, 9, 'Branquelas', 2),
 (12, 9, 'Branquelas', 2),
 (2, 9, 'Maregões', 1),
 (10, 9, 'Maregões', 2),
 (5, 9, 'Maregões', 1),
 (3, 9, 'Maregões', 1),
 (8, 9, 'Maregões', 2),
 (7, 10, 'Branquelas', 1),
 (1, 10, 'Branquelas', 4),
 (8, 10, 'Branquelas', 2),
 (12, 10, 'Branquelas', 2),
 (2, 10, 'Maregões', 2),
 (3, 10, 'Maregões', 0),
 (4, 10, 'Maregões', 1),
 (5, 10, 'Maregões', 1),
 (9, 10, 'Maregões', 2),
 (10, 10, 'Maregões', 2),
 (7, 11, 'Branquelas', 1),
 (4, 11, 'Branquelas', 0),
 (5, 11, 'Branquelas', 1),
 (10, 11, 'Branquelas', 1),
 (9, 11, 'Branquelas', 2),
 (8, 11, 'Branquelas', 5),
 (3, 11, 'Maregões', 0),
 (1, 11, 'Maregões', 2),
 (12, 11, 'Maregões', 2),
 (2, 11, 'Maregões', 3),
 (6, 11, 'Maregões', 0),
 (7, 12, 'Branquelas', 2),
 (8, 12, 'Branquelas', 3),
 (10, 12, 'Branquelas', 2),
 (2, 12, 'Branquelas', 1),
 (1, 12, 'Maregões', 1),
 (9, 12, 'Maregões', 2),
 (5, 12, 'Maregões', 1),
 (4, 12, 'Maregões', 2),
 (6, 12, 'Maregões', 0),
 (12, 12, 'Maregões', 2),
 (1, 13, 'Branquelas', 7),
 (2, 13, 'Branquelas', 0),
 (4, 13, 'Branquelas', 2),
 (8, 13, 'Branquelas', 3),
 (3, 13, 'Maregões', 2),
 (10, 13, 'Maregões', 1),
 (5, 13, 'Maregões', 2),
 (12, 13, 'Maregões', 9),
 (7, 13, 'Maregões', 0),
 (23, 14, 'Branquelas', 1),
 (15, 14, 'Branquelas', 0),
 (14, 14, 'Branquelas', 1),
 (22, 14, 'Branquelas', 3),
 (21, 14, 'Branquelas', 2),
 (13, 14, 'Branquelas', 3),
 (1, 14, 'Maregões', 3),
 (19, 14, 'Maregões', 0),
 (16, 14, 'Maregões', 2),
 (20, 14, 'Maregões', 0),
 (17, 14, 'Maregões', 4),
 (13, 15, 'Branquelas', 0),
 (19, 15, 'Branquelas', 5),
 (1, 15, 'Branquelas', 1),
 (15, 15, 'Branquelas', 0),
 (22, 15, 'Branquelas', 5),
 (18, 15, 'Branquelas', 0),
 (16, 15, 'Maregões', 3),
 (23, 15, 'Maregões', 1),
 (14, 15, 'Maregões', 0),
 (17, 15, 'Maregões', 1),
 (20, 15, 'Maregões', 0),
 (15, 16, 'Branquelas', 1),
 (1, 16, 'Branquelas', 2),
 (20, 16, 'Branquelas', 0),
 (16, 16, 'Branquelas', 2),
 (14, 16, 'Branquelas', 1),
 (18, 16, 'Branquelas', 1),
 (23, 16, 'Maregões', 1),
 (19, 16, 'Maregões', 1),
 (17, 16, 'Maregões', 0),
 (13, 16, 'Maregões', 4),
 (21, 16, 'Maregões', 3),
 (17, 17, 'Branquelas', 0),
 (15, 17, 'Branquelas', 0),
 (19, 17, 'Branquelas', 2),
 (18, 17, 'Branquelas', 3),
 (1, 17, 'Maregões', 2),
 (16, 17, 'Maregões', 2),
 (21, 17, 'Maregões', 2),
 (1, 18, 'Branquelas', 3),
 (19, 18, 'Branquelas', 2),
 (14, 18, 'Branquelas', 2),
 (20, 18, 'Branquelas', 5),
 (16, 18, 'Maregões', 2),
 (23, 18, 'Maregões', 2),
 (21, 18, 'Maregões', 3),
 (17, 18, 'Maregões', 0),
 (16, 19, 'Branquelas', 1),
 (23, 19, 'Branquelas', 0),
 (17, 19, 'Branquelas', 0),
 (18, 19, 'Branquelas', 1),
 (14, 19, 'Branquelas', 2),
 (20, 19, 'Maregões', 2),
 (22, 19, 'Maregões', 1),
 (21, 19, 'Maregões', 3),
 (19, 19, 'Maregões', 3),
 (1, 19, 'Maregões', 4),
 (1, 20, 'Branquelas', 3),
 (21, 20, 'Branquelas', 5),
 (20, 20, 'Branquelas', 3),
 (14, 20, 'Branquelas', 0),
 (19, 20, 'Maregões', 1),
 (16, 20, 'Maregões', 4),
 (23, 20, 'Maregões', 2),
 (17, 20, 'Maregões', 1),
 (23, 21, 'Branquelas', 2),
 (18, 21, 'Branquelas', 0),
 (21, 21, 'Maregões', 6),
 (19, 21, 'Maregões', 4),
 (22, 21, 'Maregões', 1),
 (17, 21, 'Maregões', 2),
 (21, 22, 'Branquelas', 3),
 (22, 22, 'Branquelas', 2),
 (14, 22, 'Branquelas', 1),
 (17, 22, 'Branquelas', 4),
 (1, 22, 'Maregões', 3),
 (20, 22, 'Maregões', 1),
 (15, 22, 'Maregões', 0),
 (23, 22, 'Maregões', 0),
 (21, 23, 'Branquelas', 2),
 (22, 23, 'Branquelas', 1),
 (17, 23, 'Branquelas', 0),
 (20, 23, 'Branquelas', 2),
 (1, 23, 'Maregões', 3),
 (14, 23, 'Maregões', 1),
 (23, 23, 'Maregões', 1),
 (15, 23, 'Maregões', 0),
 (21, 24, 'Branquelas', 1),
 (17, 24, 'Branquelas', 2),
 (20, 24, 'Branquelas', 5),
 (1, 24, 'Maregões', 1),
 (19, 24, 'Maregões', 4),
 (14, 24, 'Maregões', 1),
 (23, 24, 'Maregões', 4),
 (23, 25, 'Branquelas', 1),
 (17, 25, 'Branquelas', 5),
 (14, 25, 'Branquelas', 1),
 (21, 25, 'Branquelas', 6),
 (1, 25, 'Maregões', 6),
 (19, 25, 'Maregões', 5),
 (22, 25, 'Maregões', 1),
 (16, 25, 'Maregões', 5),
 (20, 25, 'Maregões', 0),
 (1, 26, 'Branquelas', 1),
 (17, 26, 'Branquelas', 3),
 (21, 26, 'Branquelas', 0),
 (28, 26, 'Branquelas', 0),
 (27, 26, 'Maregões', 0),
 (32, 26, 'Maregões', 1),
 (26, 26, 'Maregões', 3),
 (25, 26, 'Maregões', 1),
 (22, 26, 'Maregões', 2),
 (3, 27, 'Branquelas', 2),
 (30, 27, 'Branquelas', 1),
 (1, 27, 'Branquelas', 2),
 (6, 27, 'Branquelas', 0),
 (9, 27, 'Branquelas', 3),
 (8, 27, 'Maregões', 3),
 (29, 27, 'Maregões', 1),
 (10, 27, 'Maregões', 1),
 (5, 27, 'Maregões', 2),
 (3, 28, 'Branquelas', 2),
 (9, 28, 'Branquelas', 2),
 (11, 28, 'Branquelas', 1),
 (1, 28, 'Maregões', 1),
 (5, 28, 'Maregões', 0),
 (12, 28, 'Maregões', 2),
 (6, 28, 'Maregões', 0),
 (1, 29, 'Branquelas', 1),
 (31, 29, 'Branquelas', 0),
 (11, 29, 'Maregões', 0),
 (29, 29, 'Maregões', 4),
 (12, 29, 'Maregões', 6),
 (30, 29, 'Maregões', 4),
 (1, 30, 'Branquelas', 1),
 (26, 30, 'Branquelas', 1),
 (25, 30, 'Branquelas', 1),
 (28, 30, 'Branquelas', 0),
 (17, 30, 'Branquelas', 1),
 (16, 30, 'Maregões', 5),
 (22, 30, 'Maregões', 2),
 (27, 30, 'Maregões', 2),
 (4, 30, 'Maregões', 2),
 (12, 31, 'Branquelas', 4),
 (3, 31, 'Branquelas', 0),
 (31, 31, 'Branquelas', 3),
 (1, 31, 'Maregões', 1),
 (9, 31, 'Maregões', 1),
 (29, 31, 'Maregões', 1),
 (30, 31, 'Maregões', 0),
 (10, 31, 'Maregões', 0),
 (20, 32, 'Branquelas', 3),
 (27, 32, 'Branquelas', 4),
 (22, 32, 'Branquelas', 1),
 (25, 32, 'Branquelas', 3),
 (28, 32, 'Maregões', 2),
 (11, 33, 'Branquelas', 1),
 (31, 33, 'Branquelas', 4),
 (12, 33, 'Branquelas', 2),
 (5, 33, 'Branquelas', 2),
 (6, 33, 'Branquelas', 2),
 (29, 33, 'Branquelas', 0),
 (9, 33, 'Maregões', 5),
 (30, 33, 'Maregões', 4),
 (3, 33, 'Maregões', 3),
 (8, 33, 'Maregões', 4),
 (10, 33, 'Maregões', 2),
 (28, 34, 'Branquelas', 1),
 (27, 34, 'Branquelas', 1),
 (20, 34, 'Branquelas', 3),
 (1, 34, 'Maregões', 6),
 (17, 34, 'Maregões', 2),
 (22, 34, 'Maregões', 3),
 (16, 34, 'Maregões', 12),
 (6, 35, 'Branquelas', 1),
 (8, 35, 'Branquelas', 1),
 (31, 35, 'Branquelas', 8),
 (1, 35, 'Maregões', 0),
 (3, 35, 'Maregões', 1),
 (30, 35, 'Maregões', 3),
 (5, 35, 'Maregões', 1),
 (9, 35, 'Maregões', 4),
 (28, 36, 'Branquelas', 0),
 (21, 36, 'Branquelas', 0),
 (17, 36, 'Branquelas', 2),
 (22, 36, 'Branquelas', 4),
 (25, 36, 'Branquelas', 2),
 (26, 36, 'Maregões', 1),
 (32, 36, 'Maregões', 4),
 (1, 37, 'Branquelas', 4),
 (3, 37, 'Branquelas', 1),
 (30, 37, 'Branquelas', 2),
 (31, 37, 'Branquelas', 2),
 (10, 37, 'Branquelas', 2),
 (5, 37, 'Maregões', 5),
 (29, 37, 'Maregões', 1),
 (11, 37, 'Maregões', 0),
 (8, 37, 'Maregões', 2),
 (27, 36, 'Maregões', 0),
 (21, 32, 'Maregões', 0)]

In [16]:
%%sql

UPDATE players SET name='Xico' WHERE name='Chico';

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [9]:
INSERT INTO players_in_game (player_id, game_id, team, goals) VALUES (21, 32, 'Maregões', 0);

SyntaxError: invalid syntax (<ipython-input-9-9bef941513c5>, line 1)

In [15]:
UPDATE players SET name='Xico' WHERE name='Chico';

SyntaxError: invalid syntax (<ipython-input-15-df7160bca6ce>, line 1)