In [1]:
import sqlalchemy

In [2]:
sqlalchemy.create_engine('sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha')

Engine(sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha)

In [3]:
%load_ext sql

In [4]:
%sql sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db

In [5]:
%%sql

SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[('leagues',),
 ('players',),
 ('users',),
 ('editions',),
 ('games',),
 ('players_in_edition',),
 ('players_in_game',)]

In [6]:
%%sql
SELECT * FROM editions;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, '1ª Edição MasterLeague', '21:30', '2021-07-15', 1, 0, 1, None),
 (2, '1ª Edição TuesdayLeague', '22:00', '2021-02-09', 1, 0, 2, None),
 (3, '2ª Edição TuesdayLeague', '22:00', '2021-07-13', 1, 0, 2, None),
 (4, '3ª Edição TuesdayLeague', '22:00', '2022-02-15', 1, 21, 2, None),
 (5, '2ª Edição MasterLeague', '21:30', '2022-06-09', 0, 54, 1, '5;11;6;9;12;3;8;1;29;30;31;10;'),
 (6, '4ª Edição TuesdayLeague', '22:00', '2022-02-07', 0, 23, 2, '33;25;21;1;35;36;28;32;34;20;27;16;'),
 (7, '3ª Edição MasterLeague', '21:00', '2023-07-27', 0, 31, 1, '12;11;2;5;3;39;30;31;1;40;8;9;38;4;')]

In [11]:
%%sql
SELECT * FROM players_in_edition WHERE edition_id=5;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 5, 1, 1, 56.7, 20, 37, 83.33, 11, 0, 9, 223, 215, 24),
 (29, 5, 1, 1, 32.4, 15, 24, 62.5, 5, 0, 10, 155, 184, 24),
 (30, 5, 1, 1, 48.7, 20, 47, 83.33, 8, 0, 12, 225, 229, 24),
 (3, 5, 1, 1, 47.6, 18, 26, 75.0, 9, 0, 9, 196, 192, 24),
 (5, 5, 1, 1, 32.0, 17, 30, 70.83, 4, 0, 13, 166, 209, 24),
 (6, 5, 1, 1, 26.5, 11, 5, 45.83, 5, 0, 6, 131, 120, 24),
 (8, 5, 1, 1, 40.3, 14, 23, 58.33, 8, 0, 6, 170, 147, 24),
 (9, 5, 1, 1, 50.7, 19, 47, 79.17, 9, 0, 10, 197, 206, 24),
 (10, 5, 1, 1, 30.7, 11, 17, 45.83, 6, 0, 5, 118, 120, 24),
 (11, 5, 1, 1, 17.3, 8, 3, 33.33, 3, 0, 5, 92, 101, 24),
 (31, 5, 1, 1, 53.3, 18, 53, 75.0, 10, 0, 8, 197, 202, 24),
 (12, 5, 1, 1, 55.9, 18, 49, 75.0, 11, 0, 7, 190, 188, 24)]

In [15]:
%%sql
select * from players_in_game where game_id=106;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(2, 106, 'Branquelas', 1),
 (5, 106, 'Branquelas', 1),
 (9, 106, 'Branquelas', 1),
 (11, 106, 'Branquelas', 0),
 (38, 106, 'Branquelas', 0),
 (40, 106, 'Branquelas', 0),
 (1, 106, 'Maregões', 1),
 (3, 106, 'Maregões', 0),
 (12, 106, 'Maregões', 1),
 (30, 106, 'Maregões', 0),
 (39, 106, 'Maregões', 0),
 (4, 106, 'Maregões', 0)]

In [10]:
%%sql
delete from players_in_game where game_id=107 and player_id=39;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [14]:
%%sql 
update players_in_game set goals=0 where game_id=106 and player_id=4;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [12]:
%%sql
insert into players_in_game (player_id,game_id,team) values (4,106,'Maregões',);

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [14]:
%%sql
select * from games where edition_id=5;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(27, 9, 10, '2021-10-13', -1, 1, 5),
 (28, 10, 5, '2021-09-30', 1, 2, 5),
 (29, 12, 17, '2021-10-07', -1, 3, 5),
 (31, 9, 6, '2021-10-14', 1, 4, 5),
 (33, 11, 18, '2021-10-21', -1, 5, 5),
 (35, 19, 9, '2021-10-28', 1, 6, 5),
 (37, 13, 12, '2021-11-04', 1, 7, 5),
 (39, 11, 16, '2021-11-11', -1, 8, 5),
 (41, 11, 10, '2021-11-18', 1, 9, 5),
 (43, 20, 13, '2021-11-25', 1, 10, 5),
 (44, 13, 12, '2021-12-09', 1, 11, 5),
 (46, 11, 5, '2021-12-09', 1, 12, 5),
 (50, 8, 12, '2021-12-16', -1, 13, 5),
 (53, 13, 11, '2022-01-06', 1, 14, 5),
 (54, 5, 6, '2022-01-13', -1, 15, 5),
 (56, 12, 9, '2022-01-20', 1, 16, 5),
 (59, 13, 10, '2022-01-27', 1, 17, 5),
 (60, 9, 8, '2022-02-03', 1, 18, 5),
 (62, 9, 17, '2022-02-10', -1, 19, 5),
 (64, 9, 14, '2022-02-16', -1, 20, 5),
 (66, 7, 10, '2022-02-24', -1, 21, 5),
 (68, 11, 9, '2022-03-03', 1, 22, 5),
 (71, 11, 12, '2022-03-10', -1, 23, 5),
 (72, 11, 12, '2022-03-16', -1, 24, 5)]

In [5]:
date = datetime.datetime.strptime('12/02/2014', '%d/%m/%Y')
date

datetime.datetime(2014, 2, 12, 0, 0)

In [8]:
%%sql

SELECT * FROM players;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 'Pacheco', 'Pedro Inácio Meireles do Carmo Pacheco', '2021-10-13'),
 (2, 'Perneta', None, None),
 (3, 'Bernardo', 'Bernardo Lobo Xavier', '1995-12-04'),
 (4, 'Chico Castro', None, None),
 (5, 'Ferna', None, None),
 (6, 'João', 'João António Pizarro Magalhães', '1994-08-02'),
 (7, 'JP', None, None),
 (8, 'Kiko', None, None),
 (9, 'Fragoso', None, '1995-02-12'),
 (10, 'Manel', None, None),
 (11, 'Vinhas', None, None),
 (12, 'Zi', None, None),
 (13, 'Gustavo', None, None),
 (14, 'Beirão', None, None),
 (15, 'Praça', None, None),
 (16, 'Tommy', None, None),
 (17, 'Araújo', None, None),
 (18, 'Dinis', None, None),
 (19, 'Mateus', 'Mateus Meireles Andersen Portela', '1997-04-19'),
 (20, 'Eloi', None, None),
 (21, 'Nuno', None, None),
 (22, 'Pipinho', None, None),
 (23, 'Tomás Pacheco', None, None),
 (24, 'Resende', None, None),
 (25, 'Xico', None, None),
 (26, 'Jorginho', None, None),
 (27, 'António PT', None, None),
 (28, 'Diego', None, None),
 (29, 'Afonso', None, None),
 (30, 'Bernardo Castro', None, '1996-03-20'),
 (31, 'Zé SF', None, None),
 (32, 'Jervell', 'Sebastião Jervell', None),
 (33, 'Pedro', 'Pedro Rodrigues', None)]

In [12]:
%%sql 
SELECT id FROM games WHERE edition_id=4

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(26,),
 (30,),
 (32,),
 (34,),
 (36,),
 (38,),
 (40,),
 (42,),
 (45,),
 (47,),
 (48,),
 (49,),
 (51,)]

In [12]:
%%sql 
SELECT * FROM games

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 18, 11, '2020-10-15', 1, 1, 0, 1),
 (2, 5, 10, '2020-10-22', -1, 2, 0, 1),
 (3, 6, 8, '2021-06-06', -1, 3, 0, 1),
 (4, 9, 12, '2021-05-13', -1, 4, 0, 1),
 (5, 10, 10, '2021-05-20', 0, 5, 0, 1),
 (6, 9, 10, '2021-05-27', -1, 6, 0, 1),
 (7, 4, 10, '2021-06-03', -1, 7, 0, 1),
 (8, 6, 5, '2021-06-10', 1, 8, 0, 1),
 (9, 10, 9, '2021-06-17', 1, 9, 0, 1),
 (10, 13, 8, '2021-06-24', 1, 10, 0, 1),
 (11, 10, 7, '2021-07-01', 1, 11, 0, 1),
 (12, 8, 6, '2021-07-08', 1, 12, 0, 1),
 (13, 14, 20, '2021-07-15', -1, 13, 0, 1),
 (14, 10, 9, '2020-10-06', 1, 1, 0, 2),
 (15, 11, 6, '2020-10-06', 1, 2, 0, 2),
 (16, 7, 9, '2020-10-13', -1, 3, 0, 2),
 (17, 6, 10, '2020-10-20', -1, 4, 0, 2),
 (18, 19, 6, '2020-10-27', 1, 5, 0, 2),
 (19, 6, 12, '2020-11-03', -1, 6, 0, 2),
 (20, 17, 9, '2020-11-10', 1, 7, 0, 2),
 (21, 6, 14, '2020-11-17', -1, 8, 0, 2),
 (22, 13, 7, '2020-11-24', 1, 9, 0, 2),
 (23, 7, 7, '2020-12-01', 0, 10, 0, 2),
 (24, 13, 15, '2021-02-02', -1, 11, 0, 2),
 (25, 13, 17, '2021-02-09', -1, 12, 0, 2),
 (26, 5, 10, '2021-10-05', -1, 1, 0, 4),
 (27, 9, 10, '2021-10-13', -1, 1, 0, 5),
 (28, 10, 5, '2021-09-30', 1, 2, 0, 5),
 (29, 12, 17, '2021-10-07', -1, 3, 0, 5),
 (30, 5, 15, '2021-10-12', -1, 2, 0, 4),
 (31, 9, 6, '2021-10-14', 1, 4, 0, 5),
 (32, 11, 9, '2021-10-26', 1, 3, 0, 4),
 (33, 11, 18, '2021-10-21', -1, 5, 0, 5),
 (34, 7, 27, '2021-10-26', -1, 4, 0, 4),
 (35, 19, 9, '2021-10-28', 1, 6, 0, 5),
 (36, 11, 8, '2021-11-02', 1, 5, 0, 4),
 (37, 13, 12, '2021-11-04', 1, 7, 0, 5),
 (38, 7, 22, '2021-11-09', -1, 6, 0, 4),
 (39, 11, 16, '2021-11-11', -1, 8, 0, 5),
 (40, 16, 4, '2021-11-16', 1, 7, 0, 4),
 (41, 11, 10, '2021-11-18', 1, 9, 0, 5),
 (42, 9, 13, '2021-11-30', -1, 8, 0, 4),
 (43, 20, 13, '2021-11-25', 1, 10, 0, 5),
 (44, 13, 12, '2021-12-09', 1, 11, 0, 5),
 (45, 9, 11, '2021-11-30', -1, 9, 0, 4),
 (46, 11, 5, '2021-12-09', 1, 12, 0, 5),
 (47, 14, 9, '2021-12-14', 1, 10, 0, 4),
 (48, 15, 14, '2021-12-21', 1, 11, 0, 4),
 (49, 8, 6, '2021-12-28', 1, 12, 0, 4),
 (50, 8, 12, '2021-12-16', -1, 13, 0, 5),
 (51, 9, 7, '2022-01-04', 1, 13, 0, 4),
 (52, 9, 16, '2022-01-11', -1, 14, 0, 4),
 (53, 13, 11, '2022-01-06', 1, 14, 0, 5),
 (54, 5, 6, '2022-01-13', -1, 15, 0, 5),
 (55, 6, 12, '2022-01-18', -1, 15, 0, 4),
 (56, 12, 9, '2022-01-20', 1, 16, 0, 5),
 (57, 10, 14, '2022-01-25', -1, 16, 0, 4),
 (58, 1, 10, '2022-02-01', -1, 17, 0, 4),
 (59, 13, 10, '2022-01-27', 1, 17, 0, 5),
 (60, 9, 8, '2022-02-03', 1, 18, 0, 5),
 (61, 11, 7, '2022-02-08', 1, 18, 0, 4),
 (62, 9, 17, '2022-02-10', -1, 19, 0, 5),
 (63, 14, 16, '2022-02-15', -1, 19, 0, 4),
 (64, 9, 14, '2022-02-16', -1, 20, 0, 5),
 (65, 9, 7, '2022-02-22', 1, 1, 0, 6),
 (66, 7, 10, '2022-02-24', -1, 21, 0, 5),
 (67, 10, 8, '2022-03-01', 1, 2, 0, 6),
 (68, 11, 9, '2022-03-03', 1, 22, 0, 5),
 (69, 7, 9, '2022-03-08', -1, 3, 0, 6),
 (70, 9, 18, '2022-03-15', -1, 4, 0, 6),
 (71, 11, 12, '2022-03-10', -1, 23, 0, 5),
 (72, 11, 12, '2022-03-16', -1, 24, 0, 5),
 (73, 12, 11, '2022-03-22', 1, 5, 0, 6),
 (74, 9, 11, '2022-03-24', -1, 25, 0, 5),
 (75, 7, 14, '2022-03-29', -1, 6, 0, 6),
 (76, 10, 11, '2022-04-07', -1, 26, 0, 5),
 (77, 8, 7, '2022-04-05', 1, 7, 0, 6),
 (78, 8, 7, '2022-04-12', 1, 8, 0, 6),
 (79, 13, 5, '2022-04-07', 1, 27, 0, 5),
 (80, 10, 12, '2022-04-14', -1, 28, 0, 5),
 (81, 9, 7, '2022-04-19', 1, 9, 0, 6),
 (82, 9, 7, '2022-04-20', 1, 29, 0, 5),
 (83, 10, 6, '2022-04-28', 1, 30, 0, 5),
 (84, 9, 18, '2022-04-26', -1, 10, 0, 6),
 (85, 19, 16, '2022-05-10', 1, 11, 0, 6),
 (86, 8, 10, '2022-05-05', -1, 31, 0, 5),
 (87, 5, 15, '2022-05-12', -1, 32, 0, 5),
 (88, 8, 11, '2022-05-17', -1, 12, 0, 6),
 (89, 8, 8, '2022-05-24', 0, 13, 0, 6),
 (90, 7, 8, '2022-05-31', -1, 14, 0, 6),
 (91, 7, 12, '2022-05-19', -1, 33, 0, 5),
 (92, 6, 8, '2022-05-26', -1, 34, 0, 5),
 (93, 8, 11, '2022-06-02', -1, 35, 0, 5)]

In [9]:
%%sql

DELETE FROM players_in_game where game_id=96;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
6 rows affected.

[]

In [7]:
%%sql

SELECT * FROM players_in_edition

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 1, 1, None, 25.4, 12, 34, 92.31, 3, 1, 8, 112, 122, 13),
 (2, 1, 1, None, 31.7, 12, 17, 92.31, 6, 0, 6, 108, 120, 13),
 (3, 1, 1, None, 26.1, 12, 11, 92.31, 4, 1, 7, 113, 121, 13),
 (4, 1, 1, None, 29.8, 13, 8, 100.0, 5, 1, 7, 115, 133, 13),
 (5, 1, 1, None, 39.0, 12, 20, 92.31, 8, 1, 3, 119, 100, 13),
 (6, 1, 1, None, 20.4, 10, 4, 76.92, 3, 1, 6, 75, 89, 13),
 (7, 1, 1, None, 32.3, 9, 13, 69.23, 7, 1, 1, 105, 78, 13),
 (8, 1, 1, None, 30.1, 9, 21, 69.23, 6, 1, 2, 100, 83, 13),
 (9, 1, 1, None, 32.0, 11, 20, 84.62, 6, 1, 4, 103, 100, 13),
 (10, 1, 1, None, 32.6, 12, 16, 92.31, 6, 1, 5, 119, 114, 13),
 (11, 1, 1, None, 0.0, 0, 0, 0.0, 0, 0, 0, 0, 0, 13),
 (12, 1, 1, None, 32.9, 13, 39, 100.0, 5, 1, 7, 121, 127, 13),
 (1, 2, 1, None, 36.1, 11, 31, 91.67, 7, 1, 3, 131, 98, 12),
 (13, 2, 1, None, 12.7, 3, 7, 25.0, 3, 0, 0, 30, 22, 12),
 (14, 2, 1, None, 27.0, 10, 10, 83.33, 5, 1, 4, 113, 100, 12),
 (15, 2, 1, None, 13.1, 6, 1, 50.0, 2, 1, 3, 48, 54, 12),
 (16, 2, 1, None, 16.1, 8, 21, 66.67, 2, 0, 6, 70, 97, 12),
 (17, 2, 1, None, 23.9, 12, 19, 100.0, 3, 1, 8, 111, 138, 12),
 (18, 2, 1, None, 8.5, 5, 5, 41.67, 1, 0, 4, 36, 51, 12),
 (19, 2, 1, None, 33.7, 10, 27, 83.33, 7, 0, 3, 121, 94, 12),
 (20, 2, 1, None, 24.8, 10, 18, 83.33, 4, 1, 5, 114, 99, 12),
 (21, 2, 1, None, 36.6, 11, 36, 91.67, 7, 1, 3, 124, 108, 12),
 (22, 2, 1, None, 27.4, 7, 14, 58.33, 6, 1, 0, 84, 54, 12),
 (23, 2, 1, None, 22.5, 11, 15, 91.67, 3, 1, 7, 94, 139, 12),
 (1, 3, 1, None, 0.0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0),
 (14, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (15, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (17, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (19, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (20, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (21, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (22, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (23, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (24, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (25, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (26, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (1, 4, 1, 1, 18.2, 10, 22, 76.92, 2, 0, 8, 108, 120, 13),
 (27, 4, 1, 1, 26.6, 10, 16, 76.92, 5, 0, 5, 108, 117, 13),
 (17, 4, 1, 1, 24.6, 11, 16, 84.62, 4, 0, 7, 107, 131, 13),
 (4, 4, 1, 1, 4.2, 1, 2, 7.69, 1, 0, 0, 15, 5, 13),
 (25, 4, 1, 1, 35.9, 10, 19, 76.92, 8, 0, 2, 138, 93, 13),
 (28, 4, 1, 1, 25.8, 13, 8, 100.0, 4, 0, 9, 111, 170, 13),
 (20, 4, 1, 1, 11.3, 4, 13, 30.77, 2, 0, 2, 38, 54, 13),
 (26, 4, 1, 1, 10.9, 4, 9, 30.77, 2, 0, 2, 45, 38, 13),
 (32, 4, 1, 1, 29.1, 8, 31, 61.54, 6, 0, 2, 97, 65, 13),
 (21, 4, 1, 1, 12.2, 6, 2, 46.15, 2, 0, 4, 47, 81, 13),
 (22, 4, 1, 1, 28.9, 9, 19, 69.23, 6, 0, 3, 115, 85, 13),
 (16, 4, 1, 1, 30.5, 8, 45, 61.54, 6, 0, 2, 125, 68, 13),
 (1, 5, 1, 1, 35.0, 12, 20, 92.31, 7, 0, 5, 137, 136, 13),
 (29, 5, 1, 1, 23.8, 10, 18, 76.92, 4, 0, 6, 112, 126, 13),
 (30, 5, 1, 1, 30.0, 12, 30, 92.31, 5, 0, 7, 142, 145, 13),
 (3, 5, 1, 1, 23.4, 10, 14, 76.92, 4, 0, 6, 111, 119, 13),
 (5, 5, 1, 1, 18.2, 10, 22, 76.92, 2, 0, 8, 100, 137, 13),
 (6, 5, 1, 1, 16.5, 7, 5, 53.85, 3, 0, 4, 92, 84, 13),
 (8, 5, 1, 1, 19.2, 6, 12, 46.15, 4, 0, 2, 82, 65, 13),
 (9, 5, 1, 1, 24.8, 10, 28, 76.92, 4, 0, 6, 110, 111, 13),
 (10, 5, 1, 1, 18.9, 6, 9, 46.15, 4, 0, 2, 71, 69, 13),
 (11, 5, 1, 1, 15.3, 6, 3, 46.15, 3, 0, 3, 76, 80, 13),
 (31, 5, 12, 1, 31.1, 10, 31, 76.92, 6, 0, 4, 117, 118, 13),
 (12, 5, 1, 1, 29.9, 9, 29, 69.23, 6, 0, 3, 104, 93, 13)]

In [11]:
%%sql

UPDATE players_in_edition SET player_id=33 WHERE player_id=26 AND edition_id=4;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [13]:
%%sql

UPDATE players_in_game SET player_id=33 WHERE player_id=26 AND game_id IN (26, 30, 32, 34, 36, 38, 40, 42, 45, 47, 48, 49, 51);

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
4 rows affected.

[]

In [16]:
%%sql

UPDATE players SET name='Xico' WHERE name='Chico';

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [14]:
%%sql
INSERT INTO players_in_game (player_id, game_id, team, goals) VALUES (33, 51, 'Maregões', 0);

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [15]:
UPDATE players SET name='Xico' WHERE name='Chico';

SyntaxError: invalid syntax (<ipython-input-15-df7160bca6ce>, line 1)

In [15]:
%%sql

INSERT INTO players (name) VALUES ('Pedro Rodrigues');

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
(sqlite3.OperationalError) attempt to write a readonly database
[SQL: INSERT INTO players (name) VALUES ('Pedro Rodrigues');]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
def export_db_to_csv():
    models = User.query.first().all_tables_object()
    instances = User.query.first().get_all_tables()
    for model in models.keys():
        models[model] = models[model].__table__.columns.keys()
    for model in instances.keys():
        instances[model] = instances[model].all()

    values = {}
    for model in models.keys():
        values[model] = []
        for instance in instances[model]:
            instance_values = []
            for field in models[model]:
                instance_values.append(getattr(instance, field))
            values[model].append(instance_values)


    for model in models.keys():
        file = os.path.join('data/csv', '%s.csv' % model)
        fields = models[model]
        rows = values[model]

        with open(file, 'w') as f:
            write = csv.writer(f)
            
            write.writerow(fields)
            write.writerows(rows)
    return redirect(url_for('main.index'))