In [1]:
import sqlalchemy

In [2]:
sqlalchemy.create_engine('sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha')

Engine(sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha)

In [3]:
%load_ext sql

In [4]:
%sql sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db

In [5]:
%%sql

SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[('leagues',),
 ('players',),
 ('users',),
 ('editions',),
 ('games',),
 ('players_in_edition',),
 ('players_in_game',)]

In [12]:
%%sql
SELECT * FROM players;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 'Pacheco', 'Pedro Inácio Meireles do Carmo Pacheco', '2021-10-13'),
 (2, 'Perneta', None, None),
 (3, 'Bernardo', 'Bernardo Lobo Xavier', '1995-12-04'),
 (4, 'Chico Castro', None, None),
 (5, 'Ferna', None, None),
 (6, 'João', 'João António Pizarro Magalhães', '1994-08-02'),
 (7, 'JP', None, None),
 (8, 'Kiko', None, None),
 (9, 'Fragoso', None, '1995-02-12'),
 (10, 'Manel', None, None),
 (11, 'Vinhas', None, None),
 (12, 'Zi', None, None),
 (13, 'Gustavo', None, None),
 (14, 'Beirão', None, None),
 (15, 'Praça', None, None),
 (16, 'Tommy', None, None),
 (17, 'Araújo', None, None),
 (18, 'Dinis', None, None),
 (19, 'Mateus', 'Mateus Meireles Andersen Portela', '1997-04-19'),
 (20, 'Eloi', None, None),
 (21, 'Nuno', None, None),
 (22, 'Pipinho', None, None),
 (23, 'Tomás Pacheco', None, None),
 (24, 'Resende', None, None),
 (25, 'Xico', None, None),
 (26, 'Jorginho', None, None),
 (27, 'António PT', None, None),
 (28, 'Diego', None, None),
 (29, 'Afonso', None, None),
 (30, 'Bernardo Castro', None, '1996-03-20'),
 (31, 'Zé SF', None, None),
 (32, 'Jervell', 'Sebastião Jervell', None),
 (33, 'Pedro', 'Pedro Rodrigues', None),
 (34, 'Rodrigo', None, None)]

In [11]:
%%sql
SELECT * FROM players_in_edition WHERE edition_id=5;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 5, 1, 1, 56.7, 20, 37, 83.33, 11, 0, 9, 223, 215, 24),
 (29, 5, 1, 1, 32.4, 15, 24, 62.5, 5, 0, 10, 155, 184, 24),
 (30, 5, 1, 1, 48.7, 20, 47, 83.33, 8, 0, 12, 225, 229, 24),
 (3, 5, 1, 1, 47.6, 18, 26, 75.0, 9, 0, 9, 196, 192, 24),
 (5, 5, 1, 1, 32.0, 17, 30, 70.83, 4, 0, 13, 166, 209, 24),
 (6, 5, 1, 1, 26.5, 11, 5, 45.83, 5, 0, 6, 131, 120, 24),
 (8, 5, 1, 1, 40.3, 14, 23, 58.33, 8, 0, 6, 170, 147, 24),
 (9, 5, 1, 1, 50.7, 19, 47, 79.17, 9, 0, 10, 197, 206, 24),
 (10, 5, 1, 1, 30.7, 11, 17, 45.83, 6, 0, 5, 118, 120, 24),
 (11, 5, 1, 1, 17.3, 8, 3, 33.33, 3, 0, 5, 92, 101, 24),
 (31, 5, 1, 1, 53.3, 18, 53, 75.0, 10, 0, 8, 197, 202, 24),
 (12, 5, 1, 1, 55.9, 18, 49, 75.0, 11, 0, 7, 190, 188, 24)]

In [15]:
%%sql
select * from players_in_game where player_id=31;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(31, 29, 'Branquelas', 0),
 (31, 31, 'Branquelas', 3),
 (31, 33, 'Branquelas', 4),
 (31, 35, 'Branquelas', 8),
 (31, 37, 'Branquelas', 2),
 (31, 39, 'Maregões', 4),
 (31, 41, 'Branquelas', 2),
 (31, 44, 'Branquelas', 4),
 (31, 46, 'Maregões', 2),
 (31, 50, 'Branquelas', 2),
 (31, 53, 'Maregões', 4),
 (31, 54, 'Branquelas', 2),
 (31, 59, 'Branquelas', 3),
 (31, 60, 'Branquelas', 2),
 (31, 62, 'Branquelas', 2),
 (31, 64, 'Maregões', 4),
 (31, 66, 'Branquelas', 2),
 (31, 71, 'Maregões', 3),
 (31, 72, 'Maregões', 4)]

In [14]:
%%sql
select * from games where edition_id=5;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(27, 9, 10, '2021-10-13', -1, 1, 5),
 (28, 10, 5, '2021-09-30', 1, 2, 5),
 (29, 12, 17, '2021-10-07', -1, 3, 5),
 (31, 9, 6, '2021-10-14', 1, 4, 5),
 (33, 11, 18, '2021-10-21', -1, 5, 5),
 (35, 19, 9, '2021-10-28', 1, 6, 5),
 (37, 13, 12, '2021-11-04', 1, 7, 5),
 (39, 11, 16, '2021-11-11', -1, 8, 5),
 (41, 11, 10, '2021-11-18', 1, 9, 5),
 (43, 20, 13, '2021-11-25', 1, 10, 5),
 (44, 13, 12, '2021-12-09', 1, 11, 5),
 (46, 11, 5, '2021-12-09', 1, 12, 5),
 (50, 8, 12, '2021-12-16', -1, 13, 5),
 (53, 13, 11, '2022-01-06', 1, 14, 5),
 (54, 5, 6, '2022-01-13', -1, 15, 5),
 (56, 12, 9, '2022-01-20', 1, 16, 5),
 (59, 13, 10, '2022-01-27', 1, 17, 5),
 (60, 9, 8, '2022-02-03', 1, 18, 5),
 (62, 9, 17, '2022-02-10', -1, 19, 5),
 (64, 9, 14, '2022-02-16', -1, 20, 5),
 (66, 7, 10, '2022-02-24', -1, 21, 5),
 (68, 11, 9, '2022-03-03', 1, 22, 5),
 (71, 11, 12, '2022-03-10', -1, 23, 5),
 (72, 11, 12, '2022-03-16', -1, 24, 5)]

In [5]:
date = datetime.datetime.strptime('12/02/2014', '%d/%m/%Y')
date

datetime.datetime(2014, 2, 12, 0, 0)

In [8]:
%%sql

SELECT * FROM players;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 'Pacheco', 'Pedro Inácio Meireles do Carmo Pacheco', '2021-10-13'),
 (2, 'Perneta', None, None),
 (3, 'Bernardo', 'Bernardo Lobo Xavier', '1995-12-04'),
 (4, 'Chico Castro', None, None),
 (5, 'Ferna', None, None),
 (6, 'João', 'João António Pizarro Magalhães', '1994-08-02'),
 (7, 'JP', None, None),
 (8, 'Kiko', None, None),
 (9, 'Fragoso', None, '1995-02-12'),
 (10, 'Manel', None, None),
 (11, 'Vinhas', None, None),
 (12, 'Zi', None, None),
 (13, 'Gustavo', None, None),
 (14, 'Beirão', None, None),
 (15, 'Praça', None, None),
 (16, 'Tommy', None, None),
 (17, 'Araújo', None, None),
 (18, 'Dinis', None, None),
 (19, 'Mateus', 'Mateus Meireles Andersen Portela', '1997-04-19'),
 (20, 'Eloi', None, None),
 (21, 'Nuno', None, None),
 (22, 'Pipinho', None, None),
 (23, 'Tomás Pacheco', None, None),
 (24, 'Resende', None, None),
 (25, 'Xico', None, None),
 (26, 'Jorginho', None, None),
 (27, 'António PT', None, None),
 (28, 'Diego', None, None),
 (29, 'Afonso', None, None),
 (30, 'Bernardo Castro', None, '1996-03-20'),
 (31, 'Zé SF', None, None),
 (32, 'Jervell', 'Sebastião Jervell', None),
 (33, 'Pedro', 'Pedro Rodrigues', None)]

In [12]:
%%sql 
SELECT id FROM games WHERE edition_id=4

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(26,),
 (30,),
 (32,),
 (34,),
 (36,),
 (38,),
 (40,),
 (42,),
 (45,),
 (47,),
 (48,),
 (49,),
 (51,)]

In [6]:
%%sql 
SELECT * FROM games

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 18, 11, '2020-10-15', 1, 1, 1),
 (2, 5, 10, '2020-10-22', -1, 2, 1),
 (3, 6, 8, '2021-06-06', -1, 3, 1),
 (4, 9, 12, '2021-05-13', -1, 4, 1),
 (5, 10, 10, '2021-05-20', 0, 5, 1),
 (6, 9, 10, '2021-05-27', -1, 6, 1),
 (7, 4, 10, '2021-06-03', -1, 7, 1),
 (8, 6, 5, '2021-06-10', 1, 8, 1),
 (9, 10, 9, '2021-06-17', 1, 9, 1),
 (10, 13, 8, '2021-06-24', 1, 10, 1),
 (11, 10, 7, '2021-07-01', 1, 11, 1),
 (12, 8, 6, '2021-07-08', 1, 12, 1),
 (13, 14, 20, '2021-07-15', -1, 13, 1),
 (14, 10, 9, '2020-10-06', 1, 1, 2),
 (15, 11, 6, '2020-10-06', 1, 2, 2),
 (16, 7, 9, '2020-10-13', -1, 3, 2),
 (17, 6, 10, '2020-10-20', -1, 4, 2),
 (18, 19, 6, '2020-10-27', 1, 5, 2),
 (19, 6, 12, '2020-11-03', -1, 6, 2),
 (20, 17, 9, '2020-11-10', 1, 7, 2),
 (21, 6, 14, '2020-11-17', -1, 8, 2),
 (22, 13, 7, '2020-11-24', 1, 9, 2),
 (23, 7, 7, '2020-12-01', 0, 10, 2),
 (24, 13, 15, '2021-02-02', -1, 11, 2),
 (25, 13, 17, '2021-02-09', -1, 12, 2),
 (26, 5, 10, '2021-10-05', -1, 1, 4),
 (27, 9, 10, '2021-10-13', -1, 1, 5),
 (28, 10, 5, '2021-09-30', 1, 2, 5),
 (29, 12, 17, '2021-10-07', -1, 3, 5),
 (30, 5, 15, '2021-10-12', -1, 2, 4),
 (31, 9, 6, '2021-10-14', 1, 4, 5),
 (32, 11, 9, '2021-10-26', 1, 3, 4),
 (33, 11, 18, '2021-10-21', -1, 5, 5),
 (34, 7, 27, '2021-10-26', -1, 4, 4),
 (35, 19, 9, '2021-10-28', 1, 6, 5),
 (36, 11, 8, '2021-11-02', 1, 5, 4),
 (37, 13, 12, '2021-11-04', 1, 7, 5)]

In [6]:
%%sql

SELECT * FROM players_in_game

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 1, 'Branquelas', 6),
 (9, 1, 'Branquelas', 3),
 (7, 1, 'Branquelas', 2),
 (8, 1, 'Branquelas', 0),
 (4, 1, 'Maregões', 0),
 (3, 1, 'Maregões', 1),
 (10, 1, 'Maregões', 3),
 (12, 1, 'Maregões', 6),
 (1, 2, 'Branquelas', 1),
 (3, 2, 'Branquelas', 0),
 (6, 2, 'Branquelas', 1),
 (4, 2, 'Maregões', 0),
 (5, 2, 'Maregões', 1),
 (7, 2, 'Maregões', 2),
 (8, 2, 'Maregões', 0),
 (9, 2, 'Maregões', 3),
 (12, 2, 'Maregões', 4),
 (1, 3, 'Branquelas', 1),
 (12, 3, 'Branquelas', 1),
 (10, 3, 'Branquelas', 0),
 (3, 3, 'Branquelas', 0),
 (6, 3, 'Branquelas', 2),
 (7, 3, 'Branquelas', 1),
 (9, 3, 'Maregões', 1),
 (8, 3, 'Maregões', 2),
 (4, 3, 'Maregões', 0),
 (5, 3, 'Maregões', 1),
 (1, 4, 'Branquelas', 3),
 (4, 4, 'Branquelas', 0),
 (12, 4, 'Branquelas', 2),
 (9, 4, 'Branquelas', 2),
 (10, 4, 'Maregões', 2),
 (3, 4, 'Maregões', 1),
 (5, 4, 'Maregões', 5),
 (6, 4, 'Maregões', 1),
 (2, 1, 'Maregões', 0),
 (2, 2, 'Branquelas', 1),
 (2, 3, 'Maregões', 1),
 (2, 4, 'Maregões', 0),
 (8, 5, 'Branquelas', 4),
 (3, 5, 'Branquelas', 0),
 (6, 5, 'Branquelas', 0),
 (7, 5, 'Branquelas', 3),
 (4, 5, 'Branquelas', 1),
 (1, 5, 'Maregões', 2),
 (9, 5, 'Maregões', 1),
 (10, 5, 'Maregões', 1),
 (5, 5, 'Maregões', 3),
 (12, 5, 'Maregões', 3),
 (3, 6, 'Branquelas', 3),
 (6, 6, 'Branquelas', 0),
 (12, 6, 'Branquelas', 2),
 (1, 6, 'Branquelas', 1),
 (2, 6, 'Maregões', 3),
 (4, 6, 'Maregões', 0),
 (9, 6, 'Maregões', 1),
 (5, 6, 'Maregões', 2),
 (10, 6, 'Maregões', 2),
 (4, 7, 'Branquelas', 0),
 (6, 7, 'Branquelas', 0),
 (12, 7, 'Branquelas', 1),
 (9, 7, 'Branquelas', 1),
 (5, 7, 'Maregões', 2),
 (2, 7, 'Maregões', 3),
 (10, 7, 'Maregões', 0),
 (3, 7, 'Maregões', 2),
 (3, 8, 'Branquelas', 1),
 (6, 8, 'Branquelas', 0),
 (12, 8, 'Branquelas', 3),
 (5, 8, 'Branquelas', 0),
 (2, 8, 'Branquelas', 2),
 (1, 8, 'Maregões', 3),
 (10, 8, 'Maregões', 0),
 (4, 8, 'Maregões', 0),
 (9, 9, 'Branquelas', 2),
 (1, 9, 'Branquelas', 3),
 (7, 9, 'Branquelas', 1),
 (6, 9, 'Branquelas', 0),
 (4, 9, 'Branquelas', 2),
 (12, 9, 'Branquelas', 2),
 (2, 9, 'Maregões', 1),
 (10, 9, 'Maregões', 2),
 (5, 9, 'Maregões', 1),
 (3, 9, 'Maregões', 1),
 (8, 9, 'Maregões', 2),
 (7, 10, 'Branquelas', 1),
 (1, 10, 'Branquelas', 4),
 (8, 10, 'Branquelas', 2),
 (12, 10, 'Branquelas', 2),
 (2, 10, 'Maregões', 2),
 (3, 10, 'Maregões', 0),
 (4, 10, 'Maregões', 1),
 (5, 10, 'Maregões', 1),
 (9, 10, 'Maregões', 2),
 (10, 10, 'Maregões', 2),
 (7, 11, 'Branquelas', 1),
 (4, 11, 'Branquelas', 0),
 (5, 11, 'Branquelas', 1),
 (10, 11, 'Branquelas', 1),
 (9, 11, 'Branquelas', 2),
 (8, 11, 'Branquelas', 5),
 (3, 11, 'Maregões', 0),
 (1, 11, 'Maregões', 2),
 (12, 11, 'Maregões', 2),
 (2, 11, 'Maregões', 3),
 (6, 11, 'Maregões', 0),
 (7, 12, 'Branquelas', 2),
 (8, 12, 'Branquelas', 3),
 (10, 12, 'Branquelas', 2),
 (2, 12, 'Branquelas', 1),
 (1, 12, 'Maregões', 1),
 (9, 12, 'Maregões', 2),
 (5, 12, 'Maregões', 1),
 (4, 12, 'Maregões', 2),
 (6, 12, 'Maregões', 0),
 (12, 12, 'Maregões', 2),
 (1, 13, 'Branquelas', 7),
 (2, 13, 'Branquelas', 0),
 (4, 13, 'Branquelas', 2),
 (8, 13, 'Branquelas', 3),
 (3, 13, 'Maregões', 2),
 (10, 13, 'Maregões', 1),
 (5, 13, 'Maregões', 2),
 (12, 13, 'Maregões', 9),
 (7, 13, 'Maregões', 0),
 (23, 14, 'Branquelas', 1),
 (15, 14, 'Branquelas', 0),
 (14, 14, 'Branquelas', 1),
 (22, 14, 'Branquelas', 3),
 (21, 14, 'Branquelas', 2),
 (13, 14, 'Branquelas', 3),
 (1, 14, 'Maregões', 3),
 (19, 14, 'Maregões', 0),
 (16, 14, 'Maregões', 2),
 (20, 14, 'Maregões', 0),
 (17, 14, 'Maregões', 4),
 (13, 15, 'Branquelas', 0),
 (19, 15, 'Branquelas', 5),
 (1, 15, 'Branquelas', 1),
 (15, 15, 'Branquelas', 0),
 (22, 15, 'Branquelas', 5),
 (18, 15, 'Branquelas', 0),
 (16, 15, 'Maregões', 3),
 (23, 15, 'Maregões', 1),
 (14, 15, 'Maregões', 0),
 (17, 15, 'Maregões', 1),
 (20, 15, 'Maregões', 0),
 (15, 16, 'Branquelas', 1),
 (1, 16, 'Branquelas', 2),
 (20, 16, 'Branquelas', 0),
 (16, 16, 'Branquelas', 2),
 (14, 16, 'Branquelas', 1),
 (18, 16, 'Branquelas', 1),
 (23, 16, 'Maregões', 1),
 (19, 16, 'Maregões', 1),
 (17, 16, 'Maregões', 0),
 (13, 16, 'Maregões', 4),
 (21, 16, 'Maregões', 3),
 (17, 17, 'Branquelas', 0),
 (15, 17, 'Branquelas', 0),
 (19, 17, 'Branquelas', 2),
 (18, 17, 'Branquelas', 3),
 (1, 17, 'Maregões', 2),
 (16, 17, 'Maregões', 2),
 (21, 17, 'Maregões', 2),
 (1, 18, 'Branquelas', 3),
 (19, 18, 'Branquelas', 2),
 (14, 18, 'Branquelas', 2),
 (20, 18, 'Branquelas', 5),
 (16, 18, 'Maregões', 2),
 (23, 18, 'Maregões', 2),
 (21, 18, 'Maregões', 3),
 (17, 18, 'Maregões', 0),
 (16, 19, 'Branquelas', 1),
 (23, 19, 'Branquelas', 0),
 (17, 19, 'Branquelas', 0),
 (18, 19, 'Branquelas', 1),
 (14, 19, 'Branquelas', 2),
 (20, 19, 'Maregões', 2),
 (22, 19, 'Maregões', 1),
 (21, 19, 'Maregões', 3),
 (19, 19, 'Maregões', 3),
 (1, 19, 'Maregões', 4),
 (1, 20, 'Branquelas', 3),
 (21, 20, 'Branquelas', 5),
 (20, 20, 'Branquelas', 3),
 (14, 20, 'Branquelas', 0),
 (19, 20, 'Maregões', 1),
 (16, 20, 'Maregões', 4),
 (23, 20, 'Maregões', 2),
 (17, 20, 'Maregões', 1),
 (23, 21, 'Branquelas', 2),
 (18, 21, 'Branquelas', 0),
 (21, 21, 'Maregões', 6),
 (19, 21, 'Maregões', 4),
 (22, 21, 'Maregões', 1),
 (17, 21, 'Maregões', 2),
 (21, 22, 'Branquelas', 3),
 (22, 22, 'Branquelas', 2),
 (14, 22, 'Branquelas', 1),
 (17, 22, 'Branquelas', 4),
 (1, 22, 'Maregões', 3),
 (20, 22, 'Maregões', 1),
 (15, 22, 'Maregões', 0),
 (23, 22, 'Maregões', 0),
 (21, 23, 'Branquelas', 2),
 (22, 23, 'Branquelas', 1),
 (17, 23, 'Branquelas', 0),
 (20, 23, 'Branquelas', 2),
 (1, 23, 'Maregões', 3),
 (14, 23, 'Maregões', 1),
 (23, 23, 'Maregões', 1),
 (15, 23, 'Maregões', 0),
 (21, 24, 'Branquelas', 1),
 (17, 24, 'Branquelas', 2),
 (20, 24, 'Branquelas', 5),
 (1, 24, 'Maregões', 1),
 (19, 24, 'Maregões', 4),
 (14, 24, 'Maregões', 1),
 (23, 24, 'Maregões', 4),
 (23, 25, 'Branquelas', 1),
 (17, 25, 'Branquelas', 5),
 (14, 25, 'Branquelas', 1),
 (21, 25, 'Branquelas', 6),
 (1, 25, 'Maregões', 6),
 (19, 25, 'Maregões', 5),
 (22, 25, 'Maregões', 1),
 (16, 25, 'Maregões', 5),
 (20, 25, 'Maregões', 0),
 (1, 26, 'Branquelas', 1),
 (17, 26, 'Branquelas', 3),
 (21, 26, 'Branquelas', 0),
 (28, 26, 'Branquelas', 0),
 (27, 26, 'Maregões', 0),
 (32, 26, 'Maregões', 1),
 (26, 26, 'Maregões', 3),
 (25, 26, 'Maregões', 1),
 (22, 26, 'Maregões', 2),
 (3, 27, 'Branquelas', 2),
 (30, 27, 'Branquelas', 1),
 (1, 27, 'Branquelas', 2),
 (6, 27, 'Branquelas', 0),
 (9, 27, 'Branquelas', 3),
 (8, 27, 'Maregões', 3),
 (29, 27, 'Maregões', 1),
 (10, 27, 'Maregões', 1),
 (5, 27, 'Maregões', 2),
 (3, 28, 'Branquelas', 2),
 (9, 28, 'Branquelas', 2),
 (11, 28, 'Branquelas', 1),
 (1, 28, 'Maregões', 1),
 (5, 28, 'Maregões', 0),
 (12, 28, 'Maregões', 2),
 (6, 28, 'Maregões', 0),
 (1, 29, 'Branquelas', 1),
 (31, 29, 'Branquelas', 0),
 (11, 29, 'Maregões', 0),
 (29, 29, 'Maregões', 4),
 (12, 29, 'Maregões', 6),
 (30, 29, 'Maregões', 4),
 (1, 30, 'Branquelas', 1),
 (26, 30, 'Branquelas', 1),
 (25, 30, 'Branquelas', 1),
 (28, 30, 'Branquelas', 0),
 (17, 30, 'Branquelas', 1),
 (16, 30, 'Maregões', 5),
 (22, 30, 'Maregões', 2),
 (27, 30, 'Maregões', 2),
 (4, 30, 'Maregões', 2),
 (12, 31, 'Branquelas', 4),
 (3, 31, 'Branquelas', 0),
 (31, 31, 'Branquelas', 3),
 (1, 31, 'Maregões', 1),
 (9, 31, 'Maregões', 1),
 (29, 31, 'Maregões', 1),
 (30, 31, 'Maregões', 0),
 (10, 31, 'Maregões', 0),
 (20, 32, 'Branquelas', 3),
 (27, 32, 'Branquelas', 4),
 (22, 32, 'Branquelas', 1),
 (25, 32, 'Branquelas', 3),
 (28, 32, 'Maregões', 2),
 (11, 33, 'Branquelas', 1),
 (31, 33, 'Branquelas', 4),
 (12, 33, 'Branquelas', 2),
 (5, 33, 'Branquelas', 2),
 (6, 33, 'Branquelas', 2),
 (29, 33, 'Branquelas', 0),
 (9, 33, 'Maregões', 5),
 (30, 33, 'Maregões', 4),
 (3, 33, 'Maregões', 3),
 (8, 33, 'Maregões', 4),
 (10, 33, 'Maregões', 2),
 (28, 34, 'Branquelas', 1),
 (27, 34, 'Branquelas', 1),
 (20, 34, 'Branquelas', 3),
 (1, 34, 'Maregões', 6),
 (17, 34, 'Maregões', 2),
 (22, 34, 'Maregões', 3),
 (16, 34, 'Maregões', 12),
 (6, 35, 'Branquelas', 1),
 (8, 35, 'Branquelas', 1),
 (31, 35, 'Branquelas', 8),
 (1, 35, 'Maregões', 0),
 (3, 35, 'Maregões', 1),
 (30, 35, 'Maregões', 3),
 (5, 35, 'Maregões', 1),
 (9, 35, 'Maregões', 4),
 (28, 36, 'Branquelas', 0),
 (21, 36, 'Branquelas', 0),
 (17, 36, 'Branquelas', 2),
 (22, 36, 'Branquelas', 4),
 (25, 36, 'Branquelas', 2),
 (26, 36, 'Maregões', 1),
 (32, 36, 'Maregões', 4),
 (1, 37, 'Branquelas', 4),
 (3, 37, 'Branquelas', 1),
 (30, 37, 'Branquelas', 2),
 (31, 37, 'Branquelas', 2),
 (10, 37, 'Branquelas', 2),
 (5, 37, 'Maregões', 5),
 (29, 37, 'Maregões', 1),
 (11, 37, 'Maregões', 0),
 (8, 37, 'Maregões', 2),
 (27, 36, 'Maregões', 0),
 (21, 32, 'Maregões', 0),
 (21, 34, 'Branquelas', 0),
 (25, 34, 'Maregões', 0),
 (1, 38, 'Branquelas', 3),
 (17, 38, 'Branquelas', 2),
 (22, 38, 'Branquelas', 2),
 (28, 38, 'Branquelas', 0),
 (26, 38, 'Maregões', 4),
 (16, 38, 'Maregões', 8),
 (25, 38, 'Maregões', 3),
 (27, 38, 'Maregões', 2),
 (32, 38, 'Maregões', 5),
 (5, 39, 'Branquelas', 4),
 (29, 39, 'Branquelas', 5),
 (30, 39, 'Branquelas', 0),
 (10, 39, 'Branquelas', 1),
 (1, 39, 'Maregões', 2),
 (12, 39, 'Maregões', 5),
 (6, 39, 'Maregões', 1),
 (31, 39, 'Maregões', 4),
 (1, 40, 'Branquelas', 2),
 (16, 40, 'Branquelas', 4),
 (32, 40, 'Branquelas', 5),
 (22, 40, 'Branquelas', 3),
 (21, 40, 'Maregões', 0),
 (27, 40, 'Maregões', 0),
 (17, 40, 'Maregões', 1),
 (28, 40, 'Maregões', 1),
 (1, 41, 'Branquelas', 2),
 (12, 41, 'Branquelas', 1),
 (31, 41, 'Branquelas', 2),
 (9, 41, 'Maregões', 3),
 (30, 41, 'Maregões', 4),
 (8, 41, 'Maregões', 0),
 (3, 41, 'Maregões', 1),
 (1, 42, 'Branquelas', 1),
 (28, 42, 'Branquelas', 0),
 (17, 42, 'Branquelas', 1),
 (16, 42, 'Branquelas', 2),
 (32, 42, 'Maregões', 5),
 (20, 42, 'Maregões', 3),
 (25, 42, 'Maregões', 1),
 (1, 43, 'Branquelas', 3),
 (6, 43, 'Branquelas', 1),
 (30, 43, 'Branquelas', 4),
 (3, 43, 'Maregões', 2),
 (11, 43, 'Maregões', 1),
 (5, 43, 'Maregões', 3),
 (29, 43, 'Maregões', 2),
 (9, 43, 'Maregões', 3),
 (1, 44, 'Branquelas', 2),
 (31, 44, 'Branquelas', 4),
 (10, 44, 'Branquelas', 3),
 (29, 44, 'Branquelas', 2),
 (8, 44, 'Branquelas', 2),
 (11, 44, 'Branquelas', 0),
 (5, 44, 'Maregões', 3),
 (6, 44, 'Maregões', 0),
 (9, 44, 'Maregões', 1),
 (12, 44, 'Maregões', 3),
 (30, 44, 'Maregões', 4),
 (3, 44, 'Maregões', 1),
 (1, 45, 'Branquelas', 2),
 (22, 45, 'Branquelas', 1),
 (17, 45, 'Branquelas', 1),
 (28, 45, 'Maregões', 0),
 (21, 45, 'Maregões', 2),
 (25, 45, 'Maregões', 3),
 (32, 45, 'Maregões', 6),
 (1, 46, 'Branquelas', 1),
 (29, 46, 'Branquelas', 0),
 (9, 46, 'Branquelas', 3),
 (12, 46, 'Branquelas', 4),
 (5, 46, 'Maregões', 1),
 (31, 46, 'Maregões', 2),
 (30, 46, 'Maregões', 1),
 (16, 47, 'Branquelas', 7),
 (28, 47, 'Branquelas', 2),
 (25, 47, 'Branquelas', 2),
 (1, 47, 'Maregões', 0),
 (27, 47, 'Maregões', 3),
 (22, 47, 'Maregões', 1),
 (32, 47, 'Maregões', 1),
 (16, 48, 'Branquelas', 6),
 (17, 48, 'Branquelas', 2),
 (27, 48, 'Branquelas', 4),
 (1, 48, 'Maregões', 5),
 (25, 48, 'Maregões', 3),
 (28, 48, 'Maregões', 0),
 (32, 49, 'Branquelas', 4),
 (28, 49, 'Maregões', 0),
 (17, 49, 'Maregões', 1),
 (29, 50, 'Branquelas', 2),
 (3, 50, 'Branquelas', 1),
 (31, 50, 'Branquelas', 2),
 (1, 50, 'Maregões', 1),
 (12, 50, 'Maregões', 2),
 (5, 50, 'Maregões', 1),
 (9, 50, 'Maregões', 3),
 (30, 50, 'Maregões', 3),
 (17, 51, 'Branquelas', 0),
 (28, 51, 'Branquelas', 2),
 (1, 51, 'Maregões', 1),
 (27, 51, 'Maregões', 0),
 (16, 51, 'Maregões', 1),
 (20, 51, 'Maregões', 4)]

In [7]:
%%sql

SELECT * FROM players_in_edition

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
Done.

[(1, 1, 1, None, 25.4, 12, 34, 92.31, 3, 1, 8, 112, 122, 13),
 (2, 1, 1, None, 31.7, 12, 17, 92.31, 6, 0, 6, 108, 120, 13),
 (3, 1, 1, None, 26.1, 12, 11, 92.31, 4, 1, 7, 113, 121, 13),
 (4, 1, 1, None, 29.8, 13, 8, 100.0, 5, 1, 7, 115, 133, 13),
 (5, 1, 1, None, 39.0, 12, 20, 92.31, 8, 1, 3, 119, 100, 13),
 (6, 1, 1, None, 20.4, 10, 4, 76.92, 3, 1, 6, 75, 89, 13),
 (7, 1, 1, None, 32.3, 9, 13, 69.23, 7, 1, 1, 105, 78, 13),
 (8, 1, 1, None, 30.1, 9, 21, 69.23, 6, 1, 2, 100, 83, 13),
 (9, 1, 1, None, 32.0, 11, 20, 84.62, 6, 1, 4, 103, 100, 13),
 (10, 1, 1, None, 32.6, 12, 16, 92.31, 6, 1, 5, 119, 114, 13),
 (11, 1, 1, None, 0.0, 0, 0, 0.0, 0, 0, 0, 0, 0, 13),
 (12, 1, 1, None, 32.9, 13, 39, 100.0, 5, 1, 7, 121, 127, 13),
 (1, 2, 1, None, 36.1, 11, 31, 91.67, 7, 1, 3, 131, 98, 12),
 (13, 2, 1, None, 12.7, 3, 7, 25.0, 3, 0, 0, 30, 22, 12),
 (14, 2, 1, None, 27.0, 10, 10, 83.33, 5, 1, 4, 113, 100, 12),
 (15, 2, 1, None, 13.1, 6, 1, 50.0, 2, 1, 3, 48, 54, 12),
 (16, 2, 1, None, 16.1, 8, 21, 66.67, 2, 0, 6, 70, 97, 12),
 (17, 2, 1, None, 23.9, 12, 19, 100.0, 3, 1, 8, 111, 138, 12),
 (18, 2, 1, None, 8.5, 5, 5, 41.67, 1, 0, 4, 36, 51, 12),
 (19, 2, 1, None, 33.7, 10, 27, 83.33, 7, 0, 3, 121, 94, 12),
 (20, 2, 1, None, 24.8, 10, 18, 83.33, 4, 1, 5, 114, 99, 12),
 (21, 2, 1, None, 36.6, 11, 36, 91.67, 7, 1, 3, 124, 108, 12),
 (22, 2, 1, None, 27.4, 7, 14, 58.33, 6, 1, 0, 84, 54, 12),
 (23, 2, 1, None, 22.5, 11, 15, 91.67, 3, 1, 7, 94, 139, 12),
 (1, 3, 1, None, 0.0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0),
 (14, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (15, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (17, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (19, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (20, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (21, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (22, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (23, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (24, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (25, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (26, 3, None, None, None, None, None, None, None, None, None, None, None, None),
 (1, 4, 1, 1, 18.2, 10, 22, 76.92, 2, 0, 8, 108, 120, 13),
 (27, 4, 1, 1, 26.6, 10, 16, 76.92, 5, 0, 5, 108, 117, 13),
 (17, 4, 1, 1, 24.6, 11, 16, 84.62, 4, 0, 7, 107, 131, 13),
 (4, 4, 1, 1, 4.2, 1, 2, 7.69, 1, 0, 0, 15, 5, 13),
 (25, 4, 1, 1, 35.9, 10, 19, 76.92, 8, 0, 2, 138, 93, 13),
 (28, 4, 1, 1, 25.8, 13, 8, 100.0, 4, 0, 9, 111, 170, 13),
 (20, 4, 1, 1, 11.3, 4, 13, 30.77, 2, 0, 2, 38, 54, 13),
 (26, 4, 1, 1, 10.9, 4, 9, 30.77, 2, 0, 2, 45, 38, 13),
 (32, 4, 1, 1, 29.1, 8, 31, 61.54, 6, 0, 2, 97, 65, 13),
 (21, 4, 1, 1, 12.2, 6, 2, 46.15, 2, 0, 4, 47, 81, 13),
 (22, 4, 1, 1, 28.9, 9, 19, 69.23, 6, 0, 3, 115, 85, 13),
 (16, 4, 1, 1, 30.5, 8, 45, 61.54, 6, 0, 2, 125, 68, 13),
 (1, 5, 1, 1, 35.0, 12, 20, 92.31, 7, 0, 5, 137, 136, 13),
 (29, 5, 1, 1, 23.8, 10, 18, 76.92, 4, 0, 6, 112, 126, 13),
 (30, 5, 1, 1, 30.0, 12, 30, 92.31, 5, 0, 7, 142, 145, 13),
 (3, 5, 1, 1, 23.4, 10, 14, 76.92, 4, 0, 6, 111, 119, 13),
 (5, 5, 1, 1, 18.2, 10, 22, 76.92, 2, 0, 8, 100, 137, 13),
 (6, 5, 1, 1, 16.5, 7, 5, 53.85, 3, 0, 4, 92, 84, 13),
 (8, 5, 1, 1, 19.2, 6, 12, 46.15, 4, 0, 2, 82, 65, 13),
 (9, 5, 1, 1, 24.8, 10, 28, 76.92, 4, 0, 6, 110, 111, 13),
 (10, 5, 1, 1, 18.9, 6, 9, 46.15, 4, 0, 2, 71, 69, 13),
 (11, 5, 1, 1, 15.3, 6, 3, 46.15, 3, 0, 3, 76, 80, 13),
 (31, 5, 12, 1, 31.1, 10, 31, 76.92, 6, 0, 4, 117, 118, 13),
 (12, 5, 1, 1, 29.9, 9, 29, 69.23, 6, 0, 3, 104, 93, 13)]

In [11]:
%%sql

UPDATE players_in_edition SET player_id=33 WHERE player_id=26 AND edition_id=4;

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [13]:
%%sql

UPDATE players_in_game SET player_id=33 WHERE player_id=26 AND game_id IN (26, 30, 32, 34, 36, 38, 40, 42, 45, 47, 48, 49, 51);

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
4 rows affected.

[]

In [16]:
%%sql

UPDATE players SET name='Xico' WHERE name='Chico';

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [14]:
%%sql
INSERT INTO players_in_game (player_id, game_id, team, goals) VALUES (33, 51, 'Maregões', 0);

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
1 rows affected.

[]

In [15]:
UPDATE players SET name='Xico' WHERE name='Chico';

SyntaxError: invalid syntax (<ipython-input-15-df7160bca6ce>, line 1)

In [15]:
%%sql

INSERT INTO players (name) VALUES ('Pedro Rodrigues');

 * sqlite:////Users/pedropacheco/Documents/Projetos/Futebol/ligastorrinha/ligastorrinha/ligastorrinha/database.db
(sqlite3.OperationalError) attempt to write a readonly database
[SQL: INSERT INTO players (name) VALUES ('Pedro Rodrigues');]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
def export_db_to_csv():
    models = User.query.first().all_tables_object()
    instances = User.query.first().get_all_tables()
    for model in models.keys():
        models[model] = models[model].__table__.columns.keys()
    for model in instances.keys():
        instances[model] = instances[model].all()

    values = {}
    for model in models.keys():
        values[model] = []
        for instance in instances[model]:
            instance_values = []
            for field in models[model]:
                instance_values.append(getattr(instance, field))
            values[model].append(instance_values)


    for model in models.keys():
        file = os.path.join('data/csv', '%s.csv' % model)
        fields = models[model]
        rows = values[model]

        with open(file, 'w') as f:
            write = csv.writer(f)
            
            write.writerow(fields)
            write.writerows(rows)
    return redirect(url_for('main.index'))